# Nilfgaardian
variables {
  card_nilfgaard_catriona = 26,
  card_nilfgaard_hero_letho = 200,
  card_nilfgaard_menno = 201,
  card_nilfgaard_hero_moorvran = 202,
  card_nilfgaard_tibor = 203,
  card_nilfgaard_albrich = 205,
  card_nilfgaard_assire = 206,
  card_nilfgaard_cynthia = 207,
  card_nilfgaard_fringilla = 208,
  card_nilfgaard_morteisen = 209,
  card_nilfgaard_rainfarn = 210,
  card_nilfgaard_renuald = 211,
  card_nilfgaard_rotten = 212,
  card_nilfgaard_shilard = 213,
  card_nilfgaard_stefan = 214,
  card_nilfgaard_sweers = 215,
  card_nilfgaard_joachim = 216,
  card_nilfgaard_vanhemar = 217,
  card_nilfgaard_vattier = 218,
  card_nilfgaard_vreemde = 219,
  card_nilfgaard_cahir = 220,
  card_nilfgaard_puttkammer = 221,
  card_nilfgaard_hero_henrietta = 225,
  card_nilfgaard_syanna = 226,
  card_nilfgaard_artorius = 227,
  card_nilfgaard_vivienne = 228,
  card_nilfgaard_archer_support = 230,
  card_nilfgaard_archer_support2 = 231,
  card_nilfgaard_black_archer = 235,
  card_nilfgaard_black_archer2 = 236,
  card_nilfgaard_heavy_zerri = 240,
  card_nilfgaard_zerri = 241,
  card_nilfgaard_impera_brigade1 = 245,
  card_nilfgaard_impera_brigade2 = 246,
  card_nilfgaard_impera_brigade3 = 247,
  card_nilfgaard_impera_brigade4 = 248,
  card_nilfgaard_vicovaro = 249,
  card_nilfgaard_nausicaa = 250,
  card_nilfgaard_nausicaa2 = 251,
  card_nilfgaard_nausicaa3 = 252,
  card_nilfgaard_milton = 253,
  card_nilfgaard_palmerin = 254,
  card_nilfgaard_combat_engineer = 255,
  card_nilfgaard_young_emissary = 260,
  card_nilfgaard_young_emissary2 = 261,
  card_nilfgaard_siege_support = 265,
  card_nilfgaard_leader_emhyr_copper = 2001,
  card_nilfgaard_leader_emhyr_bronze = 2002,
  card_nilfgaard_leader_emhyr_silver = 2003,
  card_nilfgaard_leader_emhyr_gold = 2004,
  card_nilfgaard_leader_emhyr_platinium = 2005,
}

# Scoiatael
variables {
  card_scoiatael_villen = 15,
  card_scoiatael_nature = 28,
  card_scoiatael_water = 29,
  card_scoiatael_eithne = 300,
  card_scoiatael_hero_saskia = 301,
  card_scoiatael_isengrim = 302,
  card_scoiatael_hero_iorveth = 303,
  card_scoiatael_dennis = 305,
  card_scoiatael_milva = 306,
  card_scoiatael_ida = 307,
  card_scoiatael_filavandrel = 308,
  card_scoiatael_yaevinn = 309,
  card_scoiatael_toruviel = 310,
  card_scoiatael_riordain = 311,
  card_scoiatael_ciaran = 312,
  card_scoiatael_barclay = 313,
  card_scoiatael_aglais = 315,
  card_scoiatael_braenn = 316,
  card_scoiatael_fauve = 317,
  card_scoiatael_hero_morenn = 318,
  card_scoiatael_havekar_support = 320,
  card_scoiatael_havekar_support2 = 321,
  card_scoiatael_havekar_support3 = 322,
  card_scoiatael_vrihedd_brigade = 325,
  card_scoiatael_vrihedd_brigade2 = 326,
  card_scoiatael_dol_infantry = 330,
  card_scoiatael_dol_infantry2 = 331,
  card_scoiatael_dol_infantry3 = 332,
  card_scoiatael_mahakam = 340,
  card_scoiatael_mahakam2 = 341,
  card_scoiatael_mahakam3 = 342,
  card_scoiatael_mahakam4 = 343,
  card_scoiatael_mahakam5 = 344,
  card_scoiatael_grovekeeper = 345,
  card_scoiatael_treant_boar = 346,
  card_scoiatael_treant_mantis = 347,
  card_scoiatael_elf_skirmisher = 350,
  card_scoiatael_elf_skirmisher2 = 351,
  card_scoiatael_elf_skirmisher3 = 352,
  card_scoiatael_vrihedd_cadet = 355,
  card_scoiatael_dol_archer = 360,
  card_scoiatael_havekar_nurse = 365,
  card_scoiatael_havekar_nurse2 = 366,
  card_scoiatael_havekar_nurse3 = 367,
  card_scoiatael_schirru = 368,
  card_scoiatael_leader_francesca_copper = 3001,
  card_scoiatael_leader_francesca_bronze = 3002,
  card_scoiatael_leader_francesca_silver = 3003,
  card_scoiatael_leader_francesca_gold = 3004,
  card_scoiatael_leader_francesca_platinium = 3005,
}

# Monster
variables {
  card_monsters_hero_emiel = 14,
  card_neutral_avallach = 16,
  card_monsters_mrmirror = 18,
  card_monsters_mrmirror_foglet = 19,
  card_monsters_cow = 20,
  card_monsters_white = 24,
  card_monsters_moon = 30,
  card_monsters_dol_dwarf = 335,
  card_monsters_dol_dwarf2 = 336,
  card_monsters_dol_dwarf3 = 337,
  card_monsters_draug = 400,
  card_monsters_kayran = 401,
  card_monsters_hero_imlerith = 402,
  card_monsters_leshen = 403,
  card_monsters_dagon = 404,
  card_monsters_forktail = 405,
  card_monsters_earth_elemental = 407,
  card_monsters_hero_caranthir = 408,
  card_monsters_nithral = 409,
  card_monsters_fiend = 410,
  card_monsters_plague_maiden = 413,
  card_monsters_griffin = 415,
  card_monsters_frightener = 423,
  card_monsters_ice_giant = 425,
  card_monsters_endrega = 427,
  card_monsters_harpy = 430,
  card_monsters_cockatrice = 433,
  card_monsters_gargoyle = 435,
  card_monsters_iris = 436,
  card_monsters_celaeno_harpy = 437,
  card_monsters_grave_hag = 440,
  card_monsters_fire_elemental = 443,
  card_monsters_fogling = 445,
  card_monsters_arachas_behemoth = 450,
  card_monsters_arachas = 451,
  card_monsters_arachas2 = 452,
  card_monsters_arachas3 = 453,
  card_monsters_nekker = 455,
  card_monsters_nekker2 = 456,
  card_monsters_nekker3 = 457,
  card_monsters_ekkima = 460,
  card_monsters_fleder = 461,
  card_monsters_garkain = 462,
  card_monsters_bruxa = 463,
  card_monsters_katakan = 464,
  card_monsters_alp = 465,
  card_monsters_dettlaff = 466,
  card_monsters_ghoul = 470,
  card_monsters_ghoul2 = 471,
  card_monsters_ghoul3 = 472,
  card_monsters_crone_brewess = 475,
  card_monsters_crone_weavess = 476,
  card_monsters_crone_whispess = 477,
  card_monsters_toad = 478,
  card_monsters_savolla = 482,
  card_monsters_centipede = 485,
  card_monsters_wildhunt_drakkar = 490,
  card_monsters_wildhunt_warrior = 491,
  card_monsters_wildhunt_rider = 492,
  card_monsters_wildhunt_rider2 = 493,
  card_monsters_wildhunt_rider3 = 494,
  card_monsters_wildhunt_hound = 495,
  card_monsters_striga = 496,
  card_monsters_wildhunt_navigator = 498,
  card_monsters_leader_eredin_copper = 4001,
  card_monsters_leader_eredin_bronze = 4002,
  card_monsters_leader_eredin_silver = 4003,
  card_monsters_leader_eredin_gold = 4004,
  card_monsters_leader_eredin_platinium = 4005,
}

# Skellige
variables {
  card_skellige_mushroom = 22,
  card_neutral_skellige_storm = 23,
  card_skellige_ragh_nar_roog = 27,
  card_skellige_dreams = 31,
  card_skellige_werewolf = 417,
  card_skellige_hero_hjalmar = 501,
  card_skellige_hero_cerys = 502,
  card_skellige_hero_ermion = 503,
  card_skellige_draig = 504,
  card_skellige_holger_blackhand = 505,
  card_skellige_madman_lugos = 506,
  card_skellige_donar_an_hindar = 507,
  card_skellige_udalryk = 508,
  card_skellige_birna_bran = 509,
  card_skellige_blueboy_lugos = 510,
  card_skellige_svanrige = 511,
  card_skellige_olaf = 512,
  card_skellige_berserker = 513,
  card_skellige_young_berserker = 515,
  card_skellige_vabjorn = 563,
  card_skellige_clan_an_craite_warrior = 517,
  card_skellige_clan_tordarroch_armorsmith = 518,
  card_skellige_clan_heymaey_skald = 519,
  card_skellige_light_drakkar = 520,
  card_skellige_war_drakkar = 521,
  card_skellige_clan_brokvar_archer = 522,
  card_skellige_clan_drummond_shieldmaiden = 523,
  card_skellige_clan_dimun_pirate = 524,
  card_skellige_hero_cock = 525,
  card_skellige_clan_drummond_shieldmaiden2 = 526,
  card_skellige_clan_drummond_shieldmaiden3 = 527,
  card_skellige_jutta = 528,
  card_skellige_skjall = 529,
  card_skellige_coral = 531,
  card_skellige_yoana = 532,
  card_skellige_djenge_frett = 533,
  card_skellige_clan_an_craite_whaler = 534,
  card_skellige_boatbuilders = 535,
  card_skellige_sukrus = 536,
  card_skellige_athak = 537,
  card_skellige_clan_tuirseach_skirmisher = 538,
  card_skellige_clan_dimun_smuggler = 539,
  card_skellige_clan_dimun_captain = 540,
  card_skellige_clan_an_craite_marauder = 541,
  card_skellige_freya = 560,
  card_skellige_hero_tyr = 561,
  card_skellige_artis = 562,
  card_skellige_vabjorn = 563,
  card_skellige_svalblod = 564,
  card_skellige_knut = 565,
  card_skellige_leader_king_bran_bronze = 5001,
  card_skellige_leader_king_bran_copper = 5002,
  card_skellige_leader_king_bran_silver = 5003,
  card_skellige_leader_king_bran_gold = 5004,
  card_skellige_leader_king_bran_platinium = 5005,
}

# Neutral
variables {
  card_neutral_dummy = 0,
  card_neutral_horn = 1,
  card_neutral_scorch = 2,
  card_neutral_frost = 3,
  card_neutral_fog = 4,
  card_neutral_rain = 5,
  card_neutral_clear_sky = 6,
  card_neutral_hero_geralt = 7,
  card_neutral_vesemir = 8,
  card_neutral_yennefer = 9,
  card_neutral_ciri = 10,
  card_neutral_triss = 11,
  card_neutral_eskel = 135,
  card_neutral_lambert = 136,
  card_neutral_azar_hero_javed = 480,
  card_neutral_professor = 481,
}

# Northern kingdom
variables {
  card_northern_dandelion = 12,
  card_neutral_zoltan = 13,
  card_northern_olgierd = 17,
  card_northern_hailstorm = 25,
  card_northern_vernon = 100,
  card_northern_hero_natalis = 101,
  card_northern_esterad = 102,
  card_northern_hero_philippa = 103,
  card_northern_jacques = 104,
  card_northern_thaler = 105,
  card_northern_ves = 106,
  card_northern_siegfried = 107,
  card_northern_yarpen = 108,
  card_northern_dijkstra = 109,
  card_northern_keira = 111,
  card_northern_sile = 112,
  card_northern_sabrina = 113,
  card_northern_sheldon = 114,
  card_northern_dethmold = 115,
  card_northern_stennis = 116,
  card_northern_vincent = 117,
  card_northern_anseis = 118,
  card_northern_trebuchet = 120,
  card_northern_poor_infantry = 121,
  card_northern_ballista = 125,
  card_northern_poor_infantry2 = 126,
  card_northern_poor_infantry3 = 127,
  card_northern_crinfrid = 130,
  card_northern_crinfrid2 = 131,
  card_northern_crinfrid3 = 132,
  card_northern_catapult = 140,
  card_northern_catapult2 = 141,
  card_northern_nathaniel = 142,
  card_northern_lebioda = 143,
  card_northern_kaedwen_siege = 145,
  card_northern_kaedwen_support = 146,
  card_northern_cutup = 147,
  card_northern_witch_hunter = 150,
  card_northern_beggar = 151,
  card_northern_peach = 152,
  card_northern_cleric_rose = 155,
  card_northern_knight_rose = 156,
  card_northern_redanian = 160,
  card_northern_blue_stripes2 = 161,
  card_northern_blue_stripes3 = 162,
  card_northern_blue_stripes1 = 163,
  card_northern_francis = 165,
  card_northern_whoreson = 166,
  card_northern_carlo = 167,
  card_northern_siege_tower = 170,
  card_northern_crownsplitter = 171,
  card_northern_dun_banner_medic = 175,
  card_northern_igor = 176,
  card_northern_botchling = 420,
  card_northern_bloody_baron = 422,
  card_northern_wyvern = 447,
  card_northern_boris = 448,
  card_northern_leader_foltest_copper = 1001,
  card_northern_leader_foltest_bronze = 1002,
  card_northern_leader_foltest_silver = 1003,
  card_northern_leader_foltest_gold = 1004,
  card_northern_leader_foltest_platinium = 1005,
}

faction NorthernKingdom {
  leaders {
    1 card_northern_leader_foltest_copper points(1),
    1 card_northern_leader_foltest_bronze points(2) difficulty(2000),
    1 card_northern_leader_foltest_silver points(3) difficulty(3000),
    1 card_northern_leader_foltest_gold points(4) difficulty(4000),
    1 card_northern_leader_foltest_platinium points(5) difficulty(5000),
  }

  heroes {
    2 card_northern_hero_natalis difficulty(5000),
    2 card_northern_hero_philippa difficulty(5000),
    1 card_neutral_hero_geralt points(2) difficulty(5000),
  }

  units {
    1 card_neutral_triss points(3) difficulty(6000),
    1 card_northern_dandelion points(2) difficulty(2000),
    1 card_neutral_zoltan difficulty(2000),
    1 card_northern_olgierd points(3) difficulty(5000),
    1 card_northern_hailstorm points(2) difficulty(4000),
    1 card_northern_vernon points(2) difficulty(3000),
    1 card_northern_esterad points(2) difficulty(5000),
    1 card_northern_jacques points(2) difficulty(5000),
    1 card_northern_thaler difficulty(1000),
    3 card_northern_ves,
    3 card_northern_siegfried,
    4 card_northern_yarpen,
    1 card_northern_dijkstra points(3) difficulty(2000),
    1 card_northern_dijkstra points(5) difficulty(4000),
    1 card_northern_keira points(2) difficulty(2000),
    1 card_northern_sile points(2) difficulty(2000),
    1 card_northern_sabrina points(2) difficulty(2000),
    4 card_northern_sheldon difficulty(500),
    4 card_northern_dethmold difficulty(1000),
    4 card_northern_stennis difficulty(1000),
    1 card_northern_vincent difficulty(3000),
    2 card_northern_anseis points(2) difficulty(2000),
    4 card_northern_trebuchet,
    4 card_northern_trebuchet points(2) difficulty(4000),
    10 card_northern_poor_infantry,
    4 card_northern_ballista,
    4 card_northern_ballista points(2) difficulty(4000),
    10 card_northern_poor_infantry2,
    10 card_northern_poor_infantry3,
    5 card_northern_crinfrid,
    5 card_northern_crinfrid2,
    5 card_northern_crinfrid3,
    2 card_northern_catapult,
    2 card_northern_catapult2,
    2 card_northern_nathaniel points(2) difficulty(2000),
    1 card_northern_lebioda points(2) difficulty(6000),
    1 card_northern_lebioda points(3) difficulty(8000),
    2 card_northern_kaedwen_siege,
    5 card_northern_kaedwen_support,
    5 card_northern_cutup difficulty(500),
    4 card_northern_witch_hunter difficulty(500),
    5 card_northern_beggar,
    5 card_northern_peach,
    2 card_northern_cleric_rose difficulty(1000),
    1 card_northern_knight_rose,
    1 card_northern_redanian,
    5 card_northern_blue_stripes2 difficulty(500),
    5 card_northern_blue_stripes3 difficulty(1500),
    5 card_northern_blue_stripes1 difficulty(3000),
    3 card_northern_francis points(2) difficulty(2000),
    2 card_northern_francis points(2) difficulty(4000),
    1 card_northern_francis points(2) difficulty(6000),
    1 card_northern_whoreson points(2) difficulty(5000),
    1 card_northern_whoreson points(2) difficulty(9000),
    4 card_northern_carlo difficulty(4000),
    4 card_northern_siege_tower points(3) difficulty(6000),
    5 card_northern_crownsplitter,
    10 card_northern_dun_banner_medic,
    2 card_northern_igor,
    2 card_northern_botchling difficulty(2000),
    4 card_northern_bloody_baron difficulty(2000),
    6 card_northern_wyvern,
    3 card_northern_boris,
  }
}

faction Monster {
  leaders {
    1 card_monsters_leader_eredin_copper points(1),
    1 card_monsters_leader_eredin_bronze points(2) difficulty(2000),
    1 card_monsters_leader_eredin_silver points(3) difficulty(3000),
    1 card_monsters_leader_eredin_gold points(4) difficulty(4000),
    1 card_monsters_leader_eredin_platinium points(5) difficulty(5000),
  }

  heroes {
    1 card_monsters_hero_caranthir,
    1 card_monsters_hero_emiel,
    1 card_monsters_hero_imlerith
  }

  units {
    1 card_neutral_avallach,
    2 card_neutral_scorch,
    1 card_monsters_mrmirror,
    1 card_monsters_mrmirror_foglet,
    1 card_monsters_cow,
    1 card_monsters_white,
    1 card_monsters_moon,
    1 card_monsters_dol_dwarf,
    1 card_monsters_dol_dwarf2,
    1 card_monsters_dol_dwarf3,
    1 card_monsters_draug,
    1 card_monsters_kayran,
    1 card_monsters_leshen,
    1 card_monsters_dagon,
    1 card_monsters_forktail,
    1 card_monsters_earth_elemental,
    1 card_monsters_nithral,
    1 card_monsters_fiend,
    1 card_monsters_plague_maiden,
    1 card_monsters_griffin,
    1 card_monsters_frightener,
    1 card_monsters_ice_giant,
    1 card_monsters_endrega,
    1 card_monsters_harpy,
    1 card_monsters_cockatrice,
    1 card_monsters_gargoyle,
    1 card_monsters_iris,
    1 card_monsters_celaeno_harpy,
    1 card_monsters_grave_hag,
    1 card_monsters_fire_elemental,
    1 card_monsters_fogling,
    1 card_monsters_arachas_behemoth,
    1 card_monsters_arachas,
    1 card_monsters_arachas2,
    1 card_monsters_arachas3,
    1 card_monsters_nekker,
    1 card_monsters_nekker2,
    1 card_monsters_nekker3,
    1 card_monsters_ekkima,
    1 card_monsters_fleder,
    1 card_monsters_garkain,
    1 card_monsters_bruxa,
    1 card_monsters_katakan,
    1 card_monsters_alp,
    1 card_monsters_dettlaff,
    1 card_monsters_ghoul,
    1 card_monsters_ghoul2,
    1 card_monsters_ghoul3,
    1 card_monsters_crone_brewess,
    1 card_monsters_crone_weavess,
    1 card_monsters_crone_whispess,
    1 card_monsters_toad,
    1 card_monsters_savolla,
    1 card_monsters_centipede,
    1 card_monsters_wildhunt_drakkar,
    1 card_monsters_wildhunt_warrior,
    1 card_monsters_wildhunt_rider,
    1 card_monsters_wildhunt_rider2,
    1 card_monsters_wildhunt_rider3,
    1 card_monsters_wildhunt_hound,
    1 card_monsters_striga,
    1 card_monsters_wildhunt_navigator,
  }
}

faction Nilfgaardian {
  leaders {
    1 card_nilfgaard_leader_emhyr_copper,
    1 card_nilfgaard_leader_emhyr_bronze points(2) difficulty(2000),
    1 card_nilfgaard_leader_emhyr_silver points(3) difficulty(3000),
    1 card_nilfgaard_leader_emhyr_gold points(4) difficulty(4000),
    1 card_nilfgaard_leader_emhyr_platinium points(5) difficulty(5000)
  }

  heroes {
    1 card_nilfgaard_hero_henrietta,
    1 card_nilfgaard_hero_letho,
    1 card_nilfgaard_hero_moorvran
  }

  units {
    1 card_nilfgaard_catriona,
    1 card_nilfgaard_menno,
    1 card_nilfgaard_tibor,
    1 card_nilfgaard_albrich,
    1 card_nilfgaard_assire,
    1 card_nilfgaard_cynthia,
    1 card_nilfgaard_fringilla,
    1 card_nilfgaard_morteisen,
    1 card_nilfgaard_rainfarn,
    1 card_nilfgaard_renuald,
    1 card_nilfgaard_rotten,
    1 card_nilfgaard_shilard,
    1 card_nilfgaard_stefan,
    1 card_nilfgaard_sweers,
    1 card_nilfgaard_joachim,
    1 card_nilfgaard_vanhemar,
    1 card_nilfgaard_vattier,
    1 card_nilfgaard_vreemde,
    1 card_nilfgaard_cahir,
    1 card_nilfgaard_puttkammer,
    1 card_nilfgaard_syanna,
    1 card_nilfgaard_artorius,
    1 card_nilfgaard_vivienne,
    1 card_nilfgaard_archer_support,
    1 card_nilfgaard_archer_support2,
    1 card_nilfgaard_black_archer,
    1 card_nilfgaard_black_archer2,
    1 card_nilfgaard_heavy_zerri,
    1 card_nilfgaard_zerri,
    1 card_nilfgaard_impera_brigade1,
    1 card_nilfgaard_impera_brigade2,
    1 card_nilfgaard_impera_brigade3,
    1 card_nilfgaard_impera_brigade4,
    1 card_nilfgaard_vicovaro,
    1 card_nilfgaard_nausicaa,
    1 card_nilfgaard_nausicaa2,
    1 card_nilfgaard_nausicaa3,
    1 card_nilfgaard_milton,
    1 card_nilfgaard_palmerin,
    1 card_nilfgaard_combat_engineer,
    1 card_nilfgaard_young_emissary,
    1 card_nilfgaard_young_emissary2,
    1 card_nilfgaard_siege_support,
  }
}

faction Skellige {
  leaders {
    1 card_skellige_leader_king_bran_copper,
    1 card_skellige_leader_king_bran_bronze points(2) difficulty(2000),
    1 card_skellige_leader_king_bran_silver points(3) difficulty(3000),
    1 card_skellige_leader_king_bran_gold points(4) difficulty(4000),
    1 card_skellige_leader_king_bran_platinium points(5) difficulty(5000)
  }

  heroes {
    1 card_skellige_hero_cock,
    1 card_skellige_hero_hjalmar,
    1 card_skellige_hero_tyr,
    1 card_skellige_hero_cerys,
    1 card_skellige_hero_ermion difficulty(4000),
  }

  units {
    5 card_skellige_young_berserker,
    2 card_skellige_young_berserker difficulty(3500),
    
    3 card_skellige_berserker,
    1 card_skellige_berserker difficulty(2000),
    1 card_skellige_berserker difficulty(5000),

    2 card_skellige_mushroom,
    1 card_skellige_mushroom difficulty(5000),

    4 card_skellige_birna_bran,
    1 card_skellige_birna_bran difficulty(4000),

    10 card_skellige_blueboy_lugos,
    10 card_skellige_clan_brokvar_archer,
    10 card_skellige_clan_dimun_pirate points(2),

    5 card_skellige_clan_dimun_captain,
    5 card_skellige_clan_dimun_captain difficulty(5000),
    5 card_skellige_clan_dimun_captain difficulty(9000),

    15 card_skellige_clan_tordarroch_armorsmith,

    5 card_skellige_clan_an_craite_warrior points(2),
    5 card_skellige_clan_an_craite_warrior difficulty(3500), # the lack of point is normal
    5 card_skellige_clan_an_craite_warrior points(2) difficulty(500),

    15 card_skellige_donar_an_hindar,
    5 card_skellige_draig points(2),
    10 card_skellige_holger_blackhand,

    1 card_skellige_hero_cock points(2),
    1 card_skellige_hero_cock points(2) difficulty(7000),

    15 card_skellige_light_drakkar,
    5 card_skellige_light_drakkar difficulty(3000),

    5 card_skellige_war_drakkar points(2),
    5 card_skellige_war_drakkar points(2) difficulty(6000),

    15 card_skellige_madman_lugos,
    5 card_skellige_mushroom,
    5 card_skellige_mushroom difficulty(5000),
    
    1 card_skellige_olaf points(3),
    4 card_skellige_olaf points(3) difficulty(4000),
    
    15 card_skellige_svanrige,
    15 card_skellige_udalryk,
    
    # neutral cards
    5 card_neutral_skellige_storm points(2),
    5 card_neutral_frost,
    1 card_neutral_hero_geralt difficulty(4000),
    1 card_neutral_ciri difficulty(4000),
    5 card_neutral_clear_sky,
    2 card_neutral_horn,
    2 card_neutral_horn difficulty(2000),
    2 card_northern_dandelion difficulty(2000),
    3 card_neutral_dummy,
    1 card_neutral_dummy difficulty(1000),
    1 card_neutral_dummy difficulty(2500),
    1 card_neutral_dummy difficulty(5000),
    1 card_neutral_avallach points(3) difficulty(4500),
    2 card_neutral_scorch points(2),
    1 card_neutral_triss points(2) difficulty(4000),
    1 card_neutral_yennefer points(2) difficulty(4000),
    1 card_neutral_zoltan difficulty(1000),
  }
}

faction Scoiatael {
  leaders {
    1 card_scoiatael_leader_francesca_copper,
    1 card_scoiatael_leader_francesca_bronze points(2) difficulty(2000),
    1 card_scoiatael_leader_francesca_silver points(3) difficulty(3000),
    1 card_scoiatael_leader_francesca_gold points(4) difficulty(4000),
    1 card_scoiatael_leader_francesca_platinium points(5) difficulty(5000)
  }

  heroes {
    1 card_scoiatael_hero_iorveth,
    1 card_scoiatael_hero_morenn,
    1 card_scoiatael_hero_saskia
  }

  units {
    1 card_scoiatael_villen,
    1 card_scoiatael_nature,
    1 card_scoiatael_water,
    1 card_scoiatael_eithne,
    1 card_scoiatael_isengrim,
    1 card_scoiatael_dennis,
    1 card_scoiatael_milva,
    1 card_scoiatael_ida,
    1 card_scoiatael_filavandrel,
    1 card_scoiatael_yaevinn,
    1 card_scoiatael_toruviel,
    1 card_scoiatael_riordain,
    1 card_scoiatael_ciaran,
    1 card_scoiatael_barclay,
    1 card_scoiatael_aglais,
    1 card_scoiatael_braenn,
    1 card_scoiatael_fauve,
    1 card_scoiatael_havekar_support,
    1 card_scoiatael_havekar_support2,
    1 card_scoiatael_havekar_support3,
    1 card_scoiatael_vrihedd_brigade,
    1 card_scoiatael_vrihedd_brigade2,
    1 card_scoiatael_dol_infantry,
    1 card_scoiatael_dol_infantry2,
    1 card_scoiatael_dol_infantry3,
    1 card_scoiatael_mahakam,
    1 card_scoiatael_mahakam2,
    1 card_scoiatael_mahakam3,
    1 card_scoiatael_mahakam4,
    1 card_scoiatael_mahakam5,
    1 card_scoiatael_grovekeeper,
    1 card_scoiatael_treant_boar,
    1 card_scoiatael_treant_mantis,
    1 card_scoiatael_elf_skirmisher,
    1 card_scoiatael_elf_skirmisher2,
    1 card_scoiatael_elf_skirmisher3,
    1 card_scoiatael_vrihedd_cadet,
    1 card_scoiatael_dol_archer,
    1 card_scoiatael_havekar_nurse,
    1 card_scoiatael_havekar_nurse2,
    1 card_scoiatael_havekar_nurse3,
    1 card_scoiatael_schirru,
  }
}
