# Leaders
variables {
  card_northern_leader_foltest_bronze = 1002,
  card_northern_leader_foltest_silver = 1003,
  card_northern_leader_foltest_gold = 1004,
  card_northern_leader_foltest_platinium = 1005,
  card_nilfgaard_leader_emhyr_bronze = 2002,
  card_nilfgaard_leader_emhyr_silver = 2003,
  card_nilfgaard_leader_emhyr_gold = 2004,
  card_nilfgaard_leader_emhyr_platinium = 2005,
  card_scoiatael_leader_francesca_bronze = 3002,
  card_scoiatael_leader_francesca_silver = 3003,
  card_scoiatael_leader_francesca_gold = 3004,
  card_monsters_scoiatael_leader_francesca_platinium = 3005,
  card_monsters_leader_eredin_bronze = 4002,
  card_monsters_leader_eredin_silver = 4003,
  card_monsters_leader_eredin_gold = 4004,
  card_monsters_leader_eredin_platinium = 4005,
  card_skellige_leader_king_bran_bronze = 5001,
  card_skellige_leader_king_bran_copper = 5002,
}

# NorthernKingdom
variables {
  card_northern_hero_vernon = 100,
  card_northern_hero_natalis = 101,
  card_northern_hero_esterad = 102,
  card_northern_hero_philippa = 103,
  card_northern_thaler = 105,
  card_northern_ves = 106,
  card_northern_yarpen = 108,
  card_northern_dijkstra = 109,
  card_northern_dethmold = 115,
  card_northern_trebuchet = 121,
  card_northern_siege_tower = 170,
  card_northern_ballista = 146,
  card_northern_siegfried = 107,
  card_northern_blue_stripes = 160,
  card_northern_blue_stripes2 = 160,
  card_northern_blue_stripes3 = 160,
  card_northern_crinfrid = 130,
  card_northern_crinfrid2 = 130,
  card_northern_crinfrid3 = 130,
  card_northern_catapult = 140,
  card_northern_catapult2 = 140,
  card_northern_stennis = 116,
  card_northern_poor_infantry = 125,
  card_northern_poor_infantry2 = 126,
  card_northern_poor_infantry3 = 127,
  card_northern_kaedwen = 150,
  card_northern_kaedwen2 = 151,
  card_northern_dun_banner_medic = 175,
}

# Nilfgaardian
variables {
  card_nilfgaard_hero_letho = 200,
  card_nilfgaard_black_archer = 235,
  card_nilfgaard_black_archer2 = 236,
  card_nilfgaard_menno = 201,
  card_nilfgaard_hero_moorvran = 202,
  card_nilfgaard_tibor = 203,
  card_nilfgaard_albrich = 205,
  card_nilfgaard_combat_engineer = 255,
  card_nilfgaard_assire = 206,
  card_nilfgaard_fringilla = 208,
  card_nilfgaard_cynthia = 207,
  card_nilfgaard_morteisen = 209,
  card_nilfgaard_rainfarn = 210,
  card_nilfgaard_renuald = 211,
  card_nilfgaard_rotten = 212,
  card_nilfgaard_shilard = 213,
  card_nilfgaard_sweers = 215,
  card_nilfgaard_vanhemar = 217,
  card_nilfgaard_vattier = 218,
  card_nilfgaard_vreemde = 219,
  card_nilfgaard_cahir = 220,
  card_nilfgaard_puttkammer = 221,
  card_nilfgaard_heavy_zerri = 240,
  card_nilfgaard_zerri = 241,
  card_nilfgaard_impera_brigade = 245,
  card_nilfgaard_impera_brigade2 = 245,
  card_nilfgaard_impera_brigade3 = 245,
  card_nilfgaard_impera_brigade4 = 245,
  card_nilfgaard_archer_support = 230,
  card_nilfgaard_archer_support2 = 231,
  card_nilfgaard_siege_support = 265,
  card_nilfgaard_nausicaa = 250,
  card_nilfgaard_nausicaa2 = 250,
  card_nilfgaard_nausicaa3 = 250,
  card_nilfgaard_stefan = 214,
  card_nilfgaard_young_emissary = 260,
  card_nilfgaard_young_emissary2 = 261,
}

# Scoiatael
variables {
  card_scoiatael_eithne = 300,
  card_scoiatael_saskia = 301,
  card_scoiatael_isengrim = 302,
  card_scoiatael_hero_iorveth = 303,
  card_scoiatael_milva = 306,
  card_scoiatael_dennis = 305,
  card_scoiatael_ida = 307,
  card_scoiatael_filavandrel = 308,
  card_scoiatael_yaevinn = 309,
  card_scoiatael_toruviel = 310,
  card_scoiatael_riordain = 311,
  card_scoiatael_ciaran = 312,
  card_scoiatael_barclay = 313,
  card_scoiatael_havekar_support = 320,
  card_scoiatael_havekar_support2 = 321,
  card_scoiatael_havekar_support3 = 322,
  card_scoiatael_vrihedd_brigade = 325,
  card_scoiatael_vrihedd_brigade2 = 326,
  card_scoiatael_dol_infantry = 330,
  card_scoiatael_dol_infantry2 = 331,
  card_scoiatael_dol_infantry3 = 332,
  card_scoiatael_dol_dwarf = 335,
  card_scoiatael_dol_dwarf2 = 336,
  card_scoiatael_dol_dwarf3 = 337,
  card_scoiatael_mahakam = 340,
  card_scoiatael_mahakam2 = 341,
  card_scoiatael_mahakam3 = 342,
  card_scoiatael_mahakam4 = 343,
  card_scoiatael_mahakam5 = 344,
  card_scoiatael_elf_skirmisher = 350,
  card_scoiatael_elf_skirmisher2 = 351,
  card_scoiatael_elf_skirmisher3 = 352,
  card_scoiatael_vrihedd_cadet = 355,
  card_scoiatael_dol_archer = 360,
  card_scoiatael_havekar_nurse = 365,
  card_scoiatael_havekar_nurse2 = 366,
  card_scoiatael_havekar_nurse3 = 367,
  card_scoiatael_schirru = 368,
}

# Monsters
variables {
  card_monsters_draug = 400,
  card_monsters_kayran = 401,
  card_monsters_hero_imlerith = 402,
  card_monsters_leshen = 403,
  card_monsters_forktail = 405,
  card_monsters_earth_elemental = 407,
  card_monsters_fiend = 410,
  card_monsters_plague_maiden = 413,
  card_monsters_griffin = 415,
  card_monsters_werewolf = 417,
  card_monsters_botchling = 420,
  card_monsters_frightener = 423,
  card_monsters_ice_giant = 425,
  card_monsters_endrega = 427,
  card_monsters_harpy = 430,
  card_monsters_cockatrice = 433,
  card_monsters_gargoyle = 435,
  card_monsters_celaeno_harpy = 437,
  card_monsters_grave_hag = 440,
  card_monsters_fire_elemental = 443,
  card_monsters_fogling = 445,
  card_monsters_wyvern = 447,
  card_monsters_arachas_behemoth = 450,
  card_monsters_arachas = 451,
  card_monsters_arachas2 = 452,
  card_monsters_arachas3 = 453,
  card_monsters_nekker = 455,
  card_monsters_nekker2 = 456,
  card_monsters_nekker3 = 457,
  card_monsters_ekkima = 460,
  card_monsters_fleder = 461,
  card_monsters_garkain = 462,
  card_monsters_bruxa = 463,
  card_monsters_katakan = 464,
  card_monsters_ghoul = 470,
  card_monsters_ghoul2 = 471,
  card_monsters_ghoul3 = 472,
  card_monsters_crone_brewess = 475,
  card_monsters_crone_weavess = 476,
  card_monsters_crone_whispess = 477,
  card_monsters_toad = 478,
}

# Skellige
variables {
  card_skellige_crach_an_craite = 500,
  card_skellige_hero_hjalmar = 501,
  card_skellige_hero_cerys = 502,
  card_skellige_ermion = 503,
  card_skellige_draig = 504,
  card_skellige_holger_blackhand = 505,
  card_skellige_madman_lugos = 506,
  card_skellige_donar_an_hindar = 507,
  card_skellige_udalryk = 508,
  card_skellige_birna_bran = 509,
  card_skellige_blueboy_lugos = 510,
  card_skellige_svanrige = 511,
  card_skellige_olaf = 512,
  card_skellige_berserker = 513,
  card_skellige_young_berserker = 515,
  card_skellige_clan_an_craite_warrior = 517,
  card_skellige_clan_tordarroch_armorsmith = 518,
  card_skellige_clan_heymaey_skald = 519,
  card_skellige_light_drakkar = 520,
  card_skellige_war_drakkar = 521,
  card_skellige_clan_brokvar_archer = 522,
  card_skellige_clan_drummond_shieldmaiden = 523,
  card_skellige_clan_drummond_shieldmaiden2 = 526,
  card_skellige_clan_drummond_shieldmaiden3 = 527,
  card_skellige_clan_dimun_pirate = 524,
  card_skellige_hero_cock = 525,
}

# Neutral
variables {
  card_neutral_hero_geralt = 7,
  card_neutral_hero_vesemir = 8,
  card_neutral_hero_yennefer = 9,
  card_neutral_hero_ciri = 10,
  card_neutral_hero_triss = 11,
  card_neutral_dandelion = 12,
  card_neutral_zoltan = 13,
  card_neutral_emiel = 14,
  card_neutral_villen = 15,
  card_neutral_hero_avallach = 16,
  card_neutral_olgierd = 17,
  card_neutral_mrmirror = 18,
  card_neutral_mrmirror_foglet = 19,
  card_neutral_cow = 20,
  card_neutral_lady_of_the_lake = 24,
  card_neutral_visenna = 25,
}

# Special
variables {
  card_special_dummy = 0,
  card_special_horn = 1,
  card_special_scorch = 2,
  card_special_frost = 3,
  card_special_fog = 4,
  card_special_rain = 5,
  card_special_clear_sky = 6,
  card_special_mushroom = 22,
  card_special_skellige_storm = 23,
}

faction NorthernKingdom {
  leaders {
    1 card_northern_leader_foltest_bronze points(2) ,
    1 card_northern_leader_foltest_silver points(3) difficulty(3000),
    1 card_northern_leader_foltest_gold points(4) difficulty(4000),
    1 card_northern_leader_foltest_platinium points(5) difficulty(5000),
  }

  heroes {
    2 card_northern_hero_natalis difficulty(5000),
    2 card_northern_hero_philippa difficulty(5000),
    1 card_neutral_hero_geralt points(2) difficulty(5000),
    1 card_northern_hero_esterad points(2) difficulty(5000),
  }

  units {
    1 card_neutral_zoltan difficulty(2000),
    1 card_neutral_hero_triss points(3) difficulty(6000),
    1 card_neutral_dandelion points(2) difficulty(2000),
    1 card_neutral_olgierd points(3) difficulty(5000),
    1 card_northern_thaler difficulty(1000),
    3 card_northern_ves,
    3 card_northern_siegfried,
    4 card_northern_yarpen,
    4 card_northern_trebuchet,
    4 card_northern_trebuchet points(2) difficulty(4000),
    1 card_northern_hero_vernon points(2) difficulty(3000),
    1 card_northern_dijkstra points(3) difficulty(2000),
    1 card_northern_dijkstra points(5) difficulty(4000),
    4 card_northern_dethmold difficulty(1000),
    10 card_northern_poor_infantry,
    
    4 card_northern_stennis difficulty(1000),
    10 card_northern_poor_infantry2,
    10 card_northern_poor_infantry3,
    5 card_northern_crinfrid,
    5 card_northern_crinfrid2,
    5 card_northern_crinfrid3,
    2 card_northern_catapult,
    2 card_northern_catapult2,
    5 card_northern_blue_stripes2 difficulty(500),
    5 card_northern_blue_stripes3 difficulty(1500),
    5 card_northern_blue_stripes difficulty(3000),
    4 card_northern_siege_tower points(3) difficulty(6000),
    10 card_northern_dun_banner_medic,
  }
}

faction Monster {
  leaders {
    1 card_monsters_leader_eredin_bronze points(2),
    1 card_monsters_leader_eredin_silver points(3) difficulty(3000),
    1 card_monsters_leader_eredin_gold points(4) difficulty(4000),
    1 card_monsters_leader_eredin_platinium points(5) difficulty(5000),
  }

  heroes {
    1 card_monsters_hero_imlerith
  }

  units {
    1 card_neutral_hero_avallach,
    2 card_special_scorch,
    1 card_neutral_mrmirror,
    1 card_neutral_mrmirror_foglet,
    1 card_neutral_cow,
    1 card_monsters_draug,
    1 card_monsters_kayran,
    1 card_monsters_leshen,
    1 card_monsters_forktail,
    1 card_monsters_earth_elemental,
    1 card_monsters_fiend,
    1 card_monsters_plague_maiden,
    1 card_monsters_griffin,
    1 card_monsters_frightener,
    1 card_monsters_ice_giant,
    1 card_monsters_endrega,
    1 card_monsters_harpy,
    1 card_monsters_cockatrice,
    1 card_monsters_gargoyle,
    1 card_monsters_celaeno_harpy,
    1 card_monsters_grave_hag,
    1 card_monsters_fire_elemental,
    1 card_monsters_fogling,
    1 card_monsters_arachas_behemoth,
    1 card_monsters_arachas,
    1 card_monsters_arachas2,
    1 card_monsters_arachas3,
    1 card_monsters_nekker,
    1 card_monsters_nekker2,
    1 card_monsters_nekker3,
    1 card_monsters_ekkima,
    1 card_monsters_fleder,
    1 card_monsters_garkain,
    1 card_monsters_bruxa,
    1 card_monsters_katakan,
    1 card_monsters_ghoul,
    1 card_monsters_ghoul2,
    1 card_monsters_ghoul3,
    1 card_monsters_crone_brewess,
    1 card_monsters_crone_weavess,
    1 card_monsters_crone_whispess,
    1 card_monsters_toad,
  }
}

faction Nilfgaardian {
  leaders {
    1 card_nilfgaard_leader_emhyr_bronze points(2),
    1 card_nilfgaard_leader_emhyr_silver points(3) difficulty(3000),
    1 card_nilfgaard_leader_emhyr_gold points(4) difficulty(4000),
    1 card_nilfgaard_leader_emhyr_platinium points(5) difficulty(5000)
  }

  heroes {
    1 card_nilfgaard_hero_letho,
    1 card_nilfgaard_hero_moorvran
  }

  units {
    1 card_nilfgaard_menno,
    1 card_nilfgaard_tibor,
    1 card_nilfgaard_albrich,
    1 card_nilfgaard_assire,
    1 card_nilfgaard_cynthia,
    1 card_nilfgaard_fringilla,
    1 card_nilfgaard_morteisen,
    1 card_nilfgaard_rainfarn,
    1 card_nilfgaard_renuald,
    1 card_nilfgaard_rotten,
    1 card_nilfgaard_shilard,
    1 card_nilfgaard_stefan,
    1 card_nilfgaard_sweers,
    1 card_nilfgaard_vanhemar,
    1 card_nilfgaard_vattier,
    1 card_nilfgaard_vreemde,
    1 card_nilfgaard_cahir,
    1 card_nilfgaard_puttkammer,
    1 card_nilfgaard_archer_support,
    1 card_nilfgaard_archer_support2,
    1 card_nilfgaard_black_archer,
    1 card_nilfgaard_black_archer2,
    1 card_nilfgaard_heavy_zerri,
    1 card_nilfgaard_zerri,
    1 card_nilfgaard_impera_brigade,
    1 card_nilfgaard_impera_brigade2,
    1 card_nilfgaard_impera_brigade3,
    1 card_nilfgaard_impera_brigade4,
    1 card_nilfgaard_nausicaa,
    1 card_nilfgaard_nausicaa2,
    1 card_nilfgaard_nausicaa3,
    1 card_nilfgaard_combat_engineer,
    1 card_nilfgaard_young_emissary,
    1 card_nilfgaard_young_emissary2,
    1 card_nilfgaard_siege_support,
  }
}

faction Skellige {
  leaders {
    1 card_skellige_leader_king_bran_copper,
    1 card_skellige_leader_king_bran_bronze points(2) difficulty(2000),
  }

  heroes {
    1 card_skellige_hero_cock,
    1 card_skellige_hero_hjalmar,
    1 card_skellige_hero_cerys,
  }

  units {
    5 card_skellige_young_berserker,
    2 card_skellige_young_berserker difficulty(3500),
    
    3 card_skellige_berserker,
    1 card_skellige_berserker difficulty(2000),
    1 card_skellige_berserker difficulty(5000),

    2 card_special_mushroom,
    1 card_special_mushroom difficulty(5000),

    4 card_skellige_birna_bran,
    1 card_skellige_birna_bran difficulty(4000),

    10 card_skellige_blueboy_lugos,
    10 card_skellige_clan_brokvar_archer,
    10 card_skellige_clan_dimun_pirate points(2),

    15 card_skellige_clan_tordarroch_armorsmith,

    5 card_skellige_clan_an_craite_warrior points(2),
    5 card_skellige_clan_an_craite_warrior difficulty(3500), # the lack of point is normal
    5 card_skellige_clan_an_craite_warrior points(2) difficulty(500),

    15 card_skellige_donar_an_hindar,
    5 card_skellige_draig points(2),
    10 card_skellige_holger_blackhand,

    1 card_skellige_hero_cock points(2),
    1 card_skellige_hero_cock points(2) difficulty(7000),

    15 card_skellige_light_drakkar,
    5 card_skellige_light_drakkar difficulty(3000),

    5 card_skellige_war_drakkar points(2),
    5 card_skellige_war_drakkar points(2) difficulty(6000),

    15 card_skellige_madman_lugos,
    5 card_special_mushroom,
    5 card_special_mushroom difficulty(5000),
    
    1 card_skellige_olaf points(3),
    4 card_skellige_olaf points(3) difficulty(4000),
    
    15 card_skellige_svanrige,
    15 card_skellige_udalryk,
    
    # neutral cards
    5 card_special_skellige_storm points(2),
    5 card_special_frost,
    1 card_neutral_hero_geralt difficulty(4000),
    1 card_neutral_hero_ciri difficulty(4000),
    5 card_special_clear_sky,
    2 card_special_horn,
    2 card_special_horn difficulty(2000),
    2 card_neutral_dandelion difficulty(2000),
    3 card_special_dummy,
    1 card_special_dummy difficulty(1000),
    1 card_special_dummy difficulty(2500),
    1 card_special_dummy difficulty(5000),
    1 card_neutral_hero_avallach points(3) difficulty(4500),
    2 card_special_scorch points(2),
    1 card_neutral_hero_triss points(2) difficulty(4000),
    1 card_neutral_hero_yennefer points(2) difficulty(4000),
    1 card_neutral_zoltan difficulty(1000),
  }
}

faction Scoiatael {
  leaders {
    1 card_scoiatael_leader_francesca_bronze points(2),
    1 card_scoiatael_leader_francesca_silver points(3) difficulty(3000),
    1 card_scoiatael_leader_francesca_gold points(4) difficulty(4000),
  }

  heroes {
    1 card_scoiatael_hero_iorveth,
  }

  units {
    1 card_neutral_villen,
    1 card_scoiatael_isengrim,
    1 card_scoiatael_dennis,
    1 card_scoiatael_milva,
    1 card_scoiatael_ida,
    1 card_scoiatael_filavandrel,
    1 card_scoiatael_yaevinn,
    1 card_scoiatael_toruviel,
    1 card_scoiatael_riordain,
    1 card_scoiatael_ciaran,
    1 card_scoiatael_barclay,
    1 card_scoiatael_havekar_support,
    1 card_scoiatael_havekar_support2,
    1 card_scoiatael_havekar_support3,
    1 card_scoiatael_vrihedd_brigade,
    1 card_scoiatael_vrihedd_brigade2,
    1 card_scoiatael_dol_infantry,
    1 card_scoiatael_dol_infantry2,
    1 card_scoiatael_dol_infantry3,
    1 card_scoiatael_mahakam,
    1 card_scoiatael_mahakam2,
    1 card_scoiatael_mahakam3,
    1 card_scoiatael_mahakam4,
    1 card_scoiatael_mahakam5,
    1 card_scoiatael_elf_skirmisher,
    1 card_scoiatael_elf_skirmisher2,
    1 card_scoiatael_elf_skirmisher3,
    1 card_scoiatael_vrihedd_cadet,
    1 card_scoiatael_dol_archer,
    1 card_scoiatael_havekar_nurse,
    1 card_scoiatael_havekar_nurse2,
    1 card_scoiatael_havekar_nurse3,
    1 card_scoiatael_schirru,
  }
}
