# Nilfgaardian
variables {
  Letho = 200,
  Menno = 201,
  Moorvran = 202,
  Tibor = 203,
  Albrich = 205,
  Assire = 206,
  Cynthia = 207,
  Fringilla = 208,
  Mortheisen = 209,
  Rainfarn = 210,
  Renual = 211,
  Rotten = 212,
  Shilard = 213,
  Stefan = 214,
  Sweers = 215,
  Vanhemar = 217,
  Vattier = 218,
  Vreemde = 219,
  Cahir = 220,
  Puttkammer = 221,
  ArcherSupport = 230,
  ArcherSupport2 = 231,
  BlackArcher = 235,
  BlackArcher2 = 236,
  HeavyZerri = 240,
  Zerri = 241,
  ImperaBrigade = 245,
  CombatEngineer = 255,
  Nausicaa = 250,
  YoungEmissary = 260,
  YoungEmissary_1 = 261,
  SiegeSupport = 265,
}

# Scoiatael
variables {
  Eithne = 300,
  Saskia = 301,
  Isengrim = 302,
  Iorveth = 303,
  Milva = 306,
  Dennis = 305,
  Ida = 307,
  Filavandrel = 308,
  Yaevinn = 309,
  Toruviel = 310,
  Riordain = 311,
  Ciaran = 312,
  Barclay = 313,
  HavekarSupport = 320,
  HavekarSupport2 = 321,
  HavekarSupport3 = 322,
  VriheddBrigade = 325,
  VriheddBrigade2 = 326,
  DolInfantry = 330,
  DolInfantry2 = 331,
  DolInfantry3 = 332,
  DolDwarf = 335,
  DolDwarf2 = 336,
  DolDwarf3 = 337,
  Mahakam = 340,
  Mahakam2 = 341,
  Mahakam3 = 342,
  Mahakam4 = 343,
  Mahakam5 = 344,
  ElfSkirmisher = 350,
  ElfSkirmisher2 = 351,
  ElfSkirmisher3 = 352,
  VriheddCadet = 355,
  DolArcher = 360,
  HavekarNurse = 365,
  HavekarNurse2 = 366,
  HavekarNurse3 = 367,
  Schirru = 368,
}

# Monster
variables {
  Draug = 400,
  Kayran = 401,
  Imlerith = 402,
  Leshen = 403,
  Forktail = 405,
  EarthElemental = 407,
  Fiend = 410,
  PlagueMaiden = 413,
  Griffin = 415,
  Werewolf = 417,
  Botchling = 420,
  Frightener = 423,
  Ice_giant = 425,
  Endrega = 427,
  Harpy = 430,
  Cockatrice = 433,
  Gargoyle = 435,
  Celaeno_harpy = 437,
  Grave_hag = 44,
  FireElemental = 444,
  Fogling = 445,
  Wyvern = 447,
  ArachasBehemoth = 450,
  Arachas = 451,
  Arachas2 = 452,
  Arachas3 = 453,
  Nekker = 455,
  Nekker2 = 456,
  Nekker3 = 457,
  Ekkima = 460,
  Fleder = 461,
  Garkain = 462,
  Bruxa = 463,
  Katakan = 464,
  Ghoul = 470,
  Ghoul2 = 471,
  Ghoul3 = 472,
  CroneBrewess = 47,
  Toad = 48,
}

# Skellige
variables {
  CrachAnCraite = 500,
  Hjalmar = 501,
  Cerys = 502,
  Ermion = 503,
  Draig = 504,
  HolgerBlackhand = 505,
  MadmanLugos = 506,
  DonarAnHindar = 507,
  Udalryk = 508,
  BirnaBran = 509,
  BlueboyLugos = 510,
  Svanrige = 511,
  Olaf = 512,
  Berserker = 513,
  Young_berserker = 515,
  ClanAnCraiteWarrior = 517,
  ClanTordarrochArmorsmith = 518,
  Clan_heymaey_skald = 519,
  LightDrakkar = 520,
  WarDrakkar = 521,
  ClanBrokvarArcher = 522,
  ClanDrummondShieldmaiden = 523,
  ClanDrummondShieldmaiden2 = 526,
  ClanDrummondShieldmaiden3 = 527,
  ClanDimunPirate = 524,
  Cock = 525,
}

# Neutral
variables {
  Geralt = 7,
  Vesemir = 8, 
  Yennefer = 9, 
  Ciri = 10,
  Triss = 11,
  Dandelion = 12,
  Zoltan = 13,
  Emiel = 14,
  Villen = 15,
  Avallach = 16,
  Olgierd = 17,
  Mrmirror = 18,
  MrmirrorFoglet = 19,
  Cow = 20,
  LadyOfTheLake = 24,
  Visenna = 25,
}

# Northern kingdom
variables {
  Vernon = 100,
  Natalis = 101,
  Esterad = 102,
  Philipa = 103,
  Thaler = 105,
  Siegfried = 107,
  Dijsktra = 109,
  Stennis = 116,
  Trebuchet = 121,
  PoorInfantry = 125,
  PoorInfantry2 = 126,
  PoorInfantry3 = 127,
  Crinfrid = 130,
  Catapult = 140,
  Ballista = 146,
  Kaedwen = 150,
  Kaedwen_1 = 151,
  BlueStripes = 160,
  SiegeTower = 170,
  DunBannerMedic = 175,
}

# Special
variables {
  Dummy = 0, 
  Horn = 1, 
  Scorch = 2, 
  Frost = 3, 
  Fog = 4, 
  Rain = 5, 
  ClearSky = 6,
  Mushroom = 22,
  SkelligeStorm = 23,
}

# Leaders
variables {
  Foltest_bronze = 1002,
  Foltest_silver = 1003,
  Foltest_gold = 1004,
  Foltest_platinium = 1005,
  Emhyr_bronze = 2002,
  Emhyr_silver = 2003,
  Emhyr_gold = 2004,
  Emhyr_platinium = 2005,
  Francesca_bronze = 3002,
  Francesca_silver = 3003,
  Francesca_gold = 3004,
  Francesca_platinium = 3005,
  Eredin_bronze = 4002,
  Eredin_silver = 4003,
  Eredin_gold = 4004,
  Eredin_platinium = 4005,
  King_bran_bronze = 5001,
  King_bran_copper = 5002,
}

faction NorthernKingdom {
  leaders {
    1 Foltest_bronze,
    1 Foltest_silver points(2) difficulty(1000),
    1 Foltest_gold points(3) difficulty(3000),
    1 Foltest_platinium points(4) difficulty(5000),
  }

  heroes {
    1 Geralt difficulty(5000),
    1 Ciri difficulty(5000),
    1 Vesemir difficulty(6000),
    1 Yennefer difficulty(3000),
  }

  units {
    2 PoorInfantry,
    2 PoorInfantry2,
    2 PoorInfantry3,
    
    1 Catapult points(2),
    1 Catapult points(3) difficulty(1000),
    1 Catapult points(3) difficulty(3000),
    1 Catapult points(3) difficulty(7000),

    1 Trebuchet points(2) difficulty(1000),
    3 Trebuchet points(3) difficulty(5000),

    2 Ballista,
    3 BlueStripes,
    1 SiegeTower points(2) difficulty(2000),

    1 Thaler points(2) difficulty(2000),
    1 Vernon points(5) difficulty(3000),
    1 Natalis points(5) difficulty(3000),
    1 Esterad points(5) difficulty(3000),
    1 Philipa points(5) difficulty(3000),
    1 Siegfried points(5) difficulty(3000),
    1 Dijsktra points(5) difficulty(3000),
    1 Stennis points(5) difficulty(3000),
    1 Crinfrid points(5) difficulty(3000),
    
    1 Kaedwen,
    1 Kaedwen_1,
    1 SiegeTower points(2) difficulty(3000),
    1 DunBannerMedic difficulty(2000),

    1 Dummy,
    1 Dummy difficulty(500),
    1 Dummy difficulty(2000),

    1 Horn,
    1 Horn points(2) difficulty(6000),

    1 Scorch points(2) difficulty(4000),

    2 Frost,
    2 Fog,
    2 Rain,
    2 ClearSky,
  }
}

faction Monster {
  leaders {
    1 Foltest_bronze,
    1 Foltest_silver points(2) difficulty(1000),
    1 Foltest_gold points(3) difficulty(3000),
    1 Foltest_platinium points(4) difficulty(5000),
  }

  heroes {
    1 Geralt,
    1 Ciri,
    1 Vesemir,
    1 Yennefer,
  }

  units {
    2 PoorInfantry,
    2 PoorInfantry2,
    2 PoorInfantry3,
    
    1 Catapult points(2),
    1 Catapult points(3) difficulty(1000),
    1 Catapult points(3) difficulty(3000),
    1 Catapult points(3) difficulty(7000),

    1 Trebuchet points(2) difficulty(1000),
    3 Trebuchet points(3) difficulty(5000),

    2 Ballista,
    3 BlueStripes,
    1 SiegeTower points(2) difficulty(2000),

    1 Thaler points(2) difficulty(2000),
    1 Vernon points(5) difficulty(3000),
    1 Natalis points(5) difficulty(3000),
    1 Esterad points(5) difficulty(3000),
    1 Philipa points(5) difficulty(3000),
    1 Siegfried points(5) difficulty(3000),
    1 Dijsktra points(5) difficulty(3000),
    1 Stennis points(5) difficulty(3000),
    1 Crinfrid points(5) difficulty(3000),

    1 Kaedwen,
    1 Kaedwen_1,
    1 SiegeTower points(2) difficulty(3000),
    1 DunBannerMedic points(1) difficulty(2000),
  }
}

faction Nilfgaardian {
  leaders {
    1 Emhyr_bronze,
    1 Emhyr_silver points(2) difficulty(1000),
    1 Emhyr_gold points(3) difficulty(3000),
    1 Emhyr_platinium points(4) difficulty(5000),
  }

  heroes {
    1 Letho,
    1 Tibor,
  }

  units {
    1 Menno,
    1 Moorvran,
    1 Albrich,
    1 Assire,
    1 Cynthia,
    1 Fringilla,
    1 Mortheisen,
    1 Rainfarn,
    1 Renual,
    1 Rotten,
    1 Shilard,
    1 Stefan,
    1 Sweers,
    1 Vanhemar,
    1 Vattier,
    1 Vreemde,
    1 Cahir,
    1 Puttkammer,
    1 ArcherSupport,
    1 ArcherSupport2,
    1 BlackArcher,
    1 BlackArcher2,
    1 HeavyZerri,
    1 Zerri,
    1 ImperaBrigade,
    1 CombatEngineer,
    1 Nausicaa,
    1 YoungEmissary,
    1 YoungEmissary_1,
    1 SiegeSupport,

    1 Dummy,
    1 Dummy difficulty(500),
    1 Dummy difficulty(2000),

    1 Horn,
    1 Horn points(2) difficulty(6000),

    1 Scorch points(2) difficulty(4000),

    2 Frost,
    2 Fog,
    2 Rain,
    2 ClearSky,
  }
}

faction Skellige {
  leaders {
    1 King_bran_bronze,
    1 King_bran_copper points(2) difficulty(1000)
  }

  heroes {
    1 CrachAnCraite,
    1 Hjalmar,
    1 Cock
  }

  units {
    1 Cerys,
    1 Ermion,
    1 Draig,
    1 HolgerBlackhand,
    1 MadmanLugos,
    1 DonarAnHindar,
    1 Udalryk,
    1 BirnaBran,
    1 BlueboyLugos,
    1 Svanrige,
    1 Olaf,
    1 Berserker,
    1 Young_berserker,
    1 ClanAnCraiteWarrior,
    1 ClanTordarrochArmorsmith,
    1 Clan_heymaey_skald,
    1 LightDrakkar,
    1 WarDrakkar,
    1 ClanBrokvarArcher,
    1 ClanDrummondShieldmaiden,
    1 ClanDrummondShieldmaiden2,
    1 ClanDrummondShieldmaiden3,
    1 ClanDimunPirate,

    2 Horn,
    2 Horn points(2) difficulty(6000),

    1 Scorch points(2) difficulty(4000),

    1 Frost,
    1 Fog,
    1 Rain,
    3 ClearSky,
  }
}

faction Scoiatael {
  leaders {
    1 Francesca_bronze,
    1 Francesca_silver points(2) difficulty(1000),
    1 Francesca_gold points(3) difficulty(3000),
    1 Francesca_platinium points(4) difficulty(5000),
  }

  heroes {
    1 Saskia,
    1 Iorveth,
  }

  units {
    1 Eithne,
    1 Isengrim,
    1 Milva,
    1 Dennis,
    1 Ida,
    1 Filavandrel,
    1 Yaevinn,
    1 Toruviel,
    1 Riordain,
    1 Ciaran,
    1 Barclay,
    1 HavekarSupport,
    1 HavekarSupport2,
    1 HavekarSupport3,
    1 VriheddBrigade,
    1 VriheddBrigade2,
    1 DolInfantry,
    1 DolInfantry2,
    1 DolInfantry3,
    1 DolDwarf,
    1 DolDwarf2,
    1 DolDwarf3,
    1 Mahakam,
    1 Mahakam2,
    1 Mahakam3,
    1 Mahakam4,
    1 Mahakam5,
    1 ElfSkirmisher,
    1 ElfSkirmisher2,
    1 ElfSkirmisher3,
    1 VriheddCadet,
    1 DolArcher,
    1 HavekarNurse,
    1 HavekarNurse2,
    1 HavekarNurse3,
    1 Schirru,

    1 Scorch,
    1 Scorch points(2) difficulty(1000),
    1 Scorch points(2) difficulty(4000),
    1 Scorch difficulty(6000),

    3 ClearSky,
  }
}
